{% extends "base.html.twig" %}

{% block title %}
	Create Blog
{% endblock %}

{% block body %}
	{% include "partials/navbar.html.twig" %}
	<div class="flex justify-center items-center min-h-[calc(100vh-5rem)] bg-gray-100 dark:bg-gray-800">
	<div class="w-full max-w-5xl bg-white dark:bg-gray-900 shadow-lg rounded-lg p-5 ">
		<h2 class="text-2xl font-semibold text-center text-gray-700 dark:text-gray-300 mb-6">Create Blog</h2>
		{{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
		<div>{{form_errors(form)}}</div>
		<div>
			{{ form_label(form.title, 'Title', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
			{{ form_widget(form.title, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-gray-700 text-gray-900 dark:text-gray-300 bg-white dark:bg-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
			{{ form_errors(form.title) }}
		</div>
		<div>
			{{ form_label(form.content, 'Content', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
			{{ form_widget(form.content, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-gray-700 text-gray-900 dark:text-gray-300 bg-white dark:bg-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
			{{ form_errors(form.content) }}
		</div>
		<div>
			<button type="submit" class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Save!</button>
		</div>
		{{ form_end(form) }}
	</div>
</div>



{% endblock %}
